@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// "git clone root ." -> clone in this folder

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  * {
    line-height: calc(2px + 2ex + 2px);
  }
  .figuur1 {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(2) {
    background-color: #59c9a5;
  }
  .figuur1 > div:nth-child(3) {
    background-color: #5b6c5d;
  }
  .figuur1 > div:nth-child(4) {
    background-color: #27476e;
  }
  /* alle kleuren voor dit vlak: #56E39F  #59C9A5  #5B6C5D  #27476E*/
  .figuur2 {
    background-color: #f1d302;
  }
  .figuur2 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur2 > div:nth-child(2) {
    background-color: #c1292e;
  }
  .figuur2 > div:nth-child(3) {
    background-color: #235789;
  }
  .figuur2 > div:nth-child(4) {
    background-color: #f0a202;
  }
  /* alle kleuren voor dit vlak: #F1D302  #C1292E  #235789  #F0A202 */
  .figuur3 {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(1) {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(2) {
    background-color: #f4e04d;
  }
  .figuur3 > div:nth-child(3) {
    background-color: #54f2f2;
  }
  .figuur3 > div:nth-child(4) {
    background-color: #5eb1bf;
  }
  /* alle kleuren voor dit vlak: #B3001B  #F4E04D  #54F2F2  #5EB1BF */
  .figuur4 {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(1) {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(2) {
    background-color: #30332e;
  }
  .figuur4 > div:nth-child(3) {
    background-color: #62bbc1;
  }
  .figuur4 > div:nth-child(4) {
    background-color: #ec058e;
  }
  /* alle kleuren voor dit vlak: #FF715B  #30332E  #62BBC1  #EC058E */
  header {
    margin-bottom: 5px;
    padding: 10px;
    nav a:nth-child(-n + 4) {
      display: none;
    }
    .mobiel {
      font-size: 15px;
      position: absolute;
      right: 20px;
      top: 18px;
      text-decoration: none;
      color: black;
    }
    h1 {
      font-size: 25px;
      font-weight: bold;
      position: relative;
    }
  }
  main {
    .billboard {
      background-image: url(/images/achtergrond-nacht.png);
      background-size: cover;
      background-position: center bottom;
      color: white;
      padding: 40px 10px;
      margin-bottom: 20px;
      height: 200px;
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      p {
        font-style: italic;
      }
    }
    .hoofding {
      padding: 10px;
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p:nth-child(2) {
        font-style: italic;
      }
    }
    .overons {
      section {
        padding: 10px;
        margin-bottom: 20px;
        h3 {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        p {
          margin-bottom: 15px;
        }
        input {
          background-color: black;
          color: white;
          border: none;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
    .watwedoen {
      section {
        padding: 10px;
        > div:first-child {
          height: 200px;
          width: auto;
          margin-bottom: 5px;
        }
        h3 {
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }
  footer {
    background-color: black;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
    ul {
      display: flex;
      text-align: center;
    }
    .logo {
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media (min-width: 899px) {
  body {
    header {
      display: flex;
      align-items: center;
      h1 {
        margin-right: auto;
      }
      nav a:nth-child(-n + 4) {
        all: revert;
      }
      .mobiel {
        display: none;
      }
      nav {
        display: flex;
        gap: 10px;
        a:nth-child(-n + 5) {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
